.form {
    background: #e1e1e1;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 20%;
}

.button{
    border-radius: 5px;
    background-color: #1f2fc1;
    color: #fff;
    width: 100%;
    margin: auto;
    padding: .6rem;
    border: none;
}

.error{
    margin: 1.5rem 0;
    color: #e42222;
}